<div class="card bg-light">
    <div class="card-header">
        <h1 class="text-center pt-2">
            Generar certificados
        </h1>
    </div>
    <div class="card-body">
        <ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeTab">
            <li [ngbNavItem]="1">
                <button ngbNavLink [disabled]="loading">
                    Subida de Excel
                </button>
                <ng-template ngbNavContent>
                    <app-excel-upload [loading]="loading" tipoDeArchivo="certificados"
                        (onObtenerCertificados)="onObtenerCertificados($event)">
                    </app-excel-upload>
                </ng-template>
            </li>
            <li [ngbNavItem]="2" [disabled]="!certificadosAGenerar || !certificadosAGenerar.length">
                <button ngbNavLink>Certificados</button>
                <ng-template ngbNavContent>
                    <app-listar-certificados [certificados]="certificadosAGenerar" [loading]="loading"
                        (onGenerarCertificados)="generarCertificados($event)"></app-listar-certificados>
                </ng-template>
            </li>
        </ul>
    </div>
    <div [ngbNavOutlet]="nav"></div>
</div>
<!-- <app-generar-certificados-form></app-generar-certificados-form> -->