<form class="form-group text-center mt-" [formGroup]="form!">
    <div class="row justify-content-center">
        <div class="col-6">
            <h3>Ingresa el código de verificación</h3>
            <input id="codigo" class="form-control my-4" formControlName="codigo" type="text" />
            <button *ngIf="!loading" class="btn btn-success" type="button" (click)="verificar()">Verificar</button>
            <div *ngIf="loading" class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>

        </div>
    </div>
</form>
