<div class="card bg-light">
    <div class="card-header">
        <h1 class="text-center pt-2">
            Generar diplomas
        </h1>
    </div>
    <div class="card-body">
        <ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeTab">
            <li [ngbNavItem]="1">
                <button ngbNavLink [disabled]="loading">
                    Subida de Excel
                </button>
                <ng-template ngbNavContent>
                    <app-excel-upload [loading]="loading" tipoDeArchivo="diplomas"
                        (onObtenerDiplomas)="onObtenerDiplomas($event)">
                    </app-excel-upload>
                </ng-template>
            </li>
            <li [ngbNavItem]="2" [disabled]="!diplomasPorGenerar.length" 
            >
                <button ngbNavLink>Diplomas</button>
                <ng-template ngbNavContent>
                    <app-listar-diplomas-por-generar 
                    [diplomas]="diplomasPorGenerar"
                    [loading]="loading"
                    (onGenerarDiplomas)="generarDiplomas($event)">
                        
                    </app-listar-diplomas-por-generar>
                </ng-template>
            </li>
        </ul>
    </div>
    <div [ngbNavOutlet]="nav"></div>
</div>